.vx{

    border: solid 1px;
    height: 7vh;

}

.vx:hover{

    background-color: #858585;

}

.vertical_hr{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         40vh;
    width:          1px;
}

.mrc{

    margin-top: 1.0rem !important;

}

.profile_client{

    border-radius: 50%;

}

.txt{

    /*text-align: center;*/

}

.contents{

    text-align: center;
    padding-left: 2rem !important;

}

@media screen and (min-width: 980px){

    .cardP{

        width: 145%;

    }

}


@media screen and (max-width: 980px) {
    .vertical_hr {
        display: none;
    }
}