
// Body
$body-bg: #f1f1f1;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$headings-line-height: 1.5;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #343a40f0;
$secondary: #005792;
$light: #f1f1f1;
$white: #f8f9fa;
$customColor: rgba(52, 58, 64, 0.61);

//Custom Select
$custom-select-border-color: #ced4da;
$custom-select-focus-border-color: $primary;
$custom-select-color: $primary;
$custom-select-focus-box-shadow: none;

//Custom hr

$hr-border-color: $customColor;
$hr-margin-y: "10px";


//Custom Checkbox
$custom-control-indicator-checked-bg: $secondary;
$custom-control-indicator-focus-box-shadow: none;

//Custom table
$table-hover-bg: $primary;

//Custom rounded
$border-radius: .35rem;



//Custom Button
$input-btn-focus-box-shadow: none;



//Custom input

$input-box-shadow: none;


//Custom links

$link-hover-decoration: none;


//Default shadows

$enable-shadows: true !default;