
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// ZOOM
.zoomXS{
  -webkit-transition:all .3s ease; /* Safari y Chrome */
  -moz-transition:all .3s ease; /* Firefox */
  -o-transition:all .3s ease; /* IE 9 */
  -ms-transition:all .3s ease; /* Opera */
}
.zoomXS:hover{
  -webkit-transform:scale(1.01);
  -moz-transform:scale(1.01);
  -ms-transform:scale(1.01);
  -o-transform:scale(1.01);
  transform:scale(1.01);
    /*** aquí va la sombra ***/
    -webkit-box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.175) !important;
    -moz-box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.175) !important;
    -ms-box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.175) !important;
}
.zoom{
  -webkit-transition:all .3s ease; /* Safari y Chrome */
  -moz-transition:all .3s ease; /* Firefox */
  -o-transition:all .3s ease; /* IE 9 */
  -ms-transition:all .3s ease; /* Opera */
}
.zoom:hover{
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
  -webkit-box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.175) !important;
  -moz-box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.175) !important;
  -ms-box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.175) !important;
}
.zoomXL{
  -webkit-transition:all .3s ease; /* Safari y Chrome */
  -moz-transition:all .3s ease; /* Firefox */
  -o-transition:all .3s ease; /* IE 9 */
  -ms-transition:all .3s ease; /* Opera */
}
.zoomXL:hover{
  -webkit-transform:scale(1.10);
  -moz-transform:scale(1.10);
  -ms-transform:scale(1.10);
  -o-transform:scale(1.10);
  transform:scale(1.10);
  -webkit-box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.175) !important;
  -moz-box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.175) !important;
  -ms-box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.175) !important;
}