.overDarkImage{
    background-color: rgba(255, 255, 255, 0.58);
    color: #212529;
}

.overDarkImage > *{
    color: #212529;
}

.overLightImage{
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
}

.overLightImage > *{
    color: white;
}

.fullOverDark{
    background-color: rgba(0, 0, 0, 0.15);
}

.fullOverLight{
    background-color: rgba(255, 255, 255, 0.15);
}